#contentupper {
  text-align: left;
  padding-top:  5px;

  hr {
    display: none;
  }

  .fa {
    font-size: 20px;
    margin-left: 10px;
    color: #333;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
  }
  a:hover {
    text-decoration: none !important;
  }
  .fa:hover {
    text-shadow: 1px 1px 1px #333;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: #3b5998;
  }
  .fa-twitter:hover {
    color: #55acee;
  }
  .fa-linkedin:hover {
    color: #0976b4;
  }
  .fa-github:hover {
    color: #4183c4;
  }
  .fa-envelope:hover {
    color: white;
  }
}

@media (max-width: 992px) {
  #contentupper {
    text-align: center;
    hr {
      display: block;
    }
  }
}
