@import url(http://fonts.googleapis.com/css?family=Lato|Josefin+Slab:600);
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

html {
  background-color: #fdfdfd;
}

body, .container-fluid, .row {
  height: 100%;
  font-family: 'Lato';
}

.content {
  padding-left: 25px;
  padding-right: 25px;
}

h1, h2 {
  font-family: 'Josefin Slab', serif;
}

h3, h4, h5 {
  font-family: 'Lato', 'Josefin Slab';
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
}

a {
  color: #336E7B;
}
a:hover {
  color: #336E7B;
}

#content-area {
  font-family: 'Lato';
}
