@font-face {
  font-family: LiberationRegular;
  src: url('LiberationSans-Regular.ttf');
}

@font-face {
  font-family: LiberationBold;
  src: url('LiberationSans-Bold.ttf');
}

@font-face {
  font-family: LiberationItalic;
  src: url('LiberationSans-Italic.ttf');
}

@font-face {
  font-family: fontawesome-webfont;
  src: url('font-awesome/fonts/fontawesome-webfont.ttf');
}

html {
  background-color: #fdfdfd;
}

body, .container-fluid, .row {
  height: 100%;
}

body {
  font-family: LiberationRegular !important;
}

h1, h2, h3, h4, h5 {
  font-family: LiberationBold;
}
