.col-md-3.sidebar
  .inner
    %a{ :href => '/' }
      %img#rotate.animated{ :src => '/images/medog.jpg' }

    %h1.slide-up
      %a= link_to('Cody Reichert', '/')
    %p
      %i web developer.
    .lower
      %p
        %a
          = link_to('Reichert Brothers Haskell Consulting', 'http://reichertbrothers.com', :target => '_blank')
      %p
        %a
          = link_to('Archive of posts', '/archive.html')
      %p 
        %a
          = link_to('Email me', 'mailto:cody@reichertbrothers.com')
